/* big tablet to 1200px (1024 to 1200px) */
@media only screen and (max-width: 1200px) {
    .header-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }
}

/* Small tablet to big tablet (768 to 1023px) */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }

    .paragraph-section-1 {
        width: 80%;
        margin-left: 10%;
    }

    .steps-box {
        margin-top: 10px;
    }

    .steps-box:last-child {
        margin-top: 10px;
    }

    .works-step {
        margin-bottom: 40px;
        font-size: 90%;
    }

    .works-step:last-of-type {
        margin-bottom: 60px;
    }

    .main-nav li {
        display: inline-block;
        margin-left: 20px;
    }

    .icon-small {
        width: 20px;
    }

    .section-4-feature {
        font-size: 90%;
    }

    .section-6-box {
        width: 100%;
        margin-left: 0%;

    }

    .footer-nav {
        font-size: 75%;
    }

    .header-text-box h1 {
        font-size: 100%;
    }
}

/* small phones to small tablets (481 to 767px) */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 30px 0;
    }

    .row,
    .header-text-box {
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .mobile-nav-icon {
        display: inline-block;
    }

    .main-nav {
        display: none;
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%
    }


    .sticky .main-nav {
        margin-top: 10px;
    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 10px 0;
    }

    .sticky .mobile-nav-icon {
        margin-top: 10px;
    }

    .sticky .mobile-nav-icon i {
        color: #4a4a4a;
    }


    h1 {
        font-size: 180%;
    }

    h2 {
        font-size: 150%;
    }

    header {
        background-image:
            linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
            url(img/headerimg.jpg);
        background-attachment: scroll;
    }

    .paragraph-section-1 {
        width: 100%;
        margin-left: 0%;
    }

    .steps-box:first-child {
        text-align: center;
    }

    .works-step {
        margin-bottom: 30px;
    }

    .works-step:last-of-type {
        margin-bottom: 20px;
    }

    .works-step div {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 4px;
        margin-right: 15px;
    }


    .footer-nav,
    .social-links {
        float: none;
        text-align: center;
    }

    .footer-nav li,
    .social-links li {
        margin-right: 20px;
        margin-left: 20px;
    }

    .has-dropdown {
        position: static;
    }

    .dropdown {
        position: static;
        display: none;
        background: transparent;
        box-shadow: none;
        padding: 0;
        min-width: 0;
    }

    .has-dropdown.open .dropdown {
        display: block;
    }

    .dropdown li a {
        padding-left: 18px;
    }

}

/* Small phones (0 to 480px) */
@media only screen and (max-width: 480px) {
    section {
        padding: 25px 0;
    }

    h1 {
        font-size: 170%;
    }

    footer {
        padding-left: 2%;
        padding-right: 2%;
    }

    .footer-nav li {
        margin: 0 2;
    }

    .footer-nav li:last-child {
        margin: 0 2;
    }
}

@media only screen and (max-height: 440px) {
    .logo {
        height: 50px;
        width: auto;
        margin-top: 10px;
    }

    .main-nav {
        margin-top: 27px;
    }
}

@media only screen and (max-height: 440px) {
    .logo {
        height: 50px;
        width: auto;
        margin-top: 10px;
    }

    .main-nav {
        margin-top: 27px;
    }

    @media only screen and (max-height: 260px) {
        .logo {
            height: 25px;
            width: auto;
            margin-top: 5px;
        }

        .main-nav {
            margin-top: 14px;
        }
    }
}

@media (max-width: 480px) {
    .header-text-box .btn {
        display: block;
        width: 100%;
        max-width: 280px;
        margin: 10px auto 0;
    }
}