/* big tablet to 1200px (1024 to 1200px) */
@media only screen and (max-width: 1200px) {
    .header-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }
}

/* Small tablet to big tablet (768 to 1023px) */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }

    .paragraph-section-1 {
        width: 80%;
        margin-left: 10%;
    }

    .steps-box {
        margin-top: 10px;
    }

    .steps-box:last-child {
        margin-top: 10px;
    }

    .works-step {
        margin-bottom: 40px;
        font-size: 90%;
    }

    .works-step:last-of-type {
        margin-bottom: 60px;
    }

    .main-nav li {
        display: inline-block;
        margin-left: 20px;
    }

    .icon-small {
        width: 20px;
    }

    .section-4-feature {
        font-size: 90%;
    }

    .section-6-box {
        width: 100%;
        margin-left: 0%;

    }

    .footer-nav {
        font-size: 75%;
    }
}

/* small phones to small tablets (481 to 767px) */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 30px 0;
    }

    .row,
    .header-text-box {
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .main-nav {
        display: none
    }

    h1 {
        font-size: 180%;
    }

    h2 {
        font-size: 150%;
    }

    .paragraph-section-1 {
        width: 100%;
        margin-left: 0%;
    }

    .steps-box:first-child {
        text-align: center;
    }

    .works-step {
        margin-bottom: 30px;
    }

    .works-step:last-of-type {
        margin-bottom: 20px;
    }

    .works-step div {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 4px;
        margin-right: 15px;
    }


    .footer-nav,
    .social-links {
        float:none;
        text-align: center;
    }

    .footer-nav li,
    .social-links li {
        margin-right: 20px;
        margin-left: 20px;
    }
}

/* Small phones (0 to 480px) */
@media only screen and (max-width: 480px) {
    section{
        padding: 25px 0;
    }
    h1 {
        font-size: 170%;
    }
    footer {
        padding-left: 2%;
        padding-right: 2%;
    }
    .footer-nav li{
    margin: 0 2;
    }
    .footer-nav li:last-child{
    margin: 0 2;
}

}
