@media (max-width: 1200px) {
  .header-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }

  section {
    padding: 30px 0;
  }

  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }

  .mobile-nav-icon {
    display: inline-block;
  }

  .main-nav {
    display: none;
    float: left;
    margin-top: 35px;
    margin-left: 25px;
  }

  .main-nav li {
    display: block;
  }

  .main-nav li a {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }

  .sticky .main-nav {
    margin-top: 10px;
  }

  .sticky .main-nav li a {
    padding: 10px 0;
  }

  .sticky .mobile-nav-icon {
    margin-top: 10px;
  }

  .sticky .mobile-nav-icon i {
    color: #4a4a4a;
  }

  h1 {
    font-size: 180%;
  }

  h2 {
    font-size: 150%;
  }

  header {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(img/headerimg.jpg);
    background-attachment: scroll;
  }

  .paragraph-section-1 {
    width: 100%;
    margin-left: 0;
  }

  .steps-box:first-child {
    text-align: center;
  }

  .works-step {
    margin-bottom: 30px;
  }

  .works-step:last-of-type {
    margin-bottom: 20px;
  }

  .works-step div {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 4px;
    margin-right: 15px;
  }

  .footer-nav,
  .social-links {
    float: none;
    text-align: center;
  }

  .footer-nav li,
  .social-links li {
    margin: 0 20px;
  }

  .has-dropdown {
    position: static;
  }

  .dropdown {
    position: static;
    display: none;
    background: transparent;
    box-shadow: none;
    padding: 0;
    min-width: 0;
  }

  .has-dropdown.open .dropdown {
    display: block;
  }

  .dropdown li a {
    padding-left: 18px;
  }
}

@media (max-width: 768px) {
  section {
    padding: 25px 0;
  }

  h1 {
    font-size: 170%;
  }

  .header-text-box .btn {
    display: block;
    width: 100%;
    max-width: 280px;
    margin: 10px auto 0;
  }

  footer {
    padding-left: 2%;
    padding-right: 2%;
  }

  .footer-nav li {
    margin: 0 4px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 160%;
  }

  h2 {
    font-size: 100%;
  }

  .logo {
    height: 60px;
  }
}

@media (max-height: 440px) {
  .logo {
    height: 50px;
    margin-top: 10px;
  }

  .main-nav {
    margin-top: 27px;
  }
}

@media (max-height: 260px) {
  .logo {
    height: 25px;
    margin-top: 5px;
  }

  .main-nav {
    margin-top: 14px;
  }
}

@media (max-width: 768px) {
  nav.sticky-init .main-nav {
    position: static !important;
    background: none !important;
    display: block !important;
    width: auto !important;
    padding: 0 !important;
    text-align: right !important;
  }

  nav.sticky-init .main-nav li {
    display: inline-block !important;
    margin: 0 0 0 16px !important;
  }

  nav.sticky-init .main-nav li a {
    font-size: 18px !important;
    color: #333 !important;
  }
}
